body {
    background-color: rgb(178, 178, 247);
    font-family: 'Montserrat', sans-serif;
    color: #857d7d;
    margin: 0;
    padding: 0;
    line-height: 30px;

}
.intro {
    background: #fff;
    margin: 50px auto 50px auto;
    border-radius: 10px;
    width: 800px;
    padding: 50px;
    box-shadow: 2px 2px 5px 1px #ccc;
    text-align: center;
    
    
}
.box1 {
    background: #fff;
    margin: 50px auto 50px auto;
    border-radius: 10px;
    width: 800px;
    padding: 50px;
    box-shadow: 2px 2px 5px 1px #ccc;
}
.portrait {
    display: inline-block;
    border: 5px solid rgb(143, 142, 142);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto 

}
.img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  align-content: center;
  

}

.bouton {
    font-weight: 700;
    text-align: center;
    background: #fd2020 ;
    border-radius: 10px;
    padding: 10px;
}
.reseaux {
    background: #fff;
    margin: 50px auto 50px auto;
    border-radius: 10px;
    width: 800px;
    display: flex;
    text-align: center;
    padding: 50px;
    box-shadow: 2px 2px 5px 1px #ccc;
    align-content: center;
    justify-content: center;

}
.box2 {
    background: #fff;
    margin: 50px auto 50px auto;
    border-radius: 10px;
    width: 800px;
    padding: 50px;
    box-shadow: 2px 2px 5px 1px #ccc;
    text-align: center;

}

ul li {
    list-style: none;
    display: flex;
    float: left;
    padding-right: 40px;
    text-align: center;
    


}

.movies {
    background: #fff;
    margin: 50px auto 50px auto;
    border-radius: 10px;
    width: 800px;
    padding: 50px;
    box-shadow: 1px 1px 1px 1px #ccc;

}
.box3 {
    background: #fff;
    margin: 50px auto 50px auto;
    border-radius: 10px;
    width: 800px;
    padding: 50px;
    box-shadow: 2px 2px 5px 1px #ccc;

}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items:center;
    grid-row-gap: 50px;

}

span {
    background: #d4d4d4;

}
h1 {
    text-align: center;
    color: #fd2020;
    text-align: center;
    font-weight: 900;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

a:link, a:visited {
    color: rgb(178, 178, 247);
    text-decoration: none;
}

a#bouton:link, a#bouton:visited {
    color: rgb(178, 178, 247);
    text-decoration: none;
}